/*
Responsive Table MBG
*/
@media screen and (max-width: 400px) {
  table {font-size: 70%;}
}
@media screen and (max-width: 250px) {
  table {font-size: 50%;}
}
@media screen and (max-width: 150px) {
  table {font-size: 30%;}
}
table {
  width: 100%;
  border-collapse: collapse;
}
tr:nth-of-type(odd) {
  background: #eee;

}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 2px;
  border: 1px solid #ccc;
  text-align: center;
}
.table a
{
display:block;
text-decoration:none;
}
